<table class="printTable">

  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>Calories</td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.calories}}</td>

  </tr>

  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>{{ingredients?.totalNutrients?.FAT?.label}}
      {{ingredients?.totalNutrients?.FAT?.quantity | number:'1.0-1' }} {{ingredients?.totalNutrients?.FAT?.unit}}</td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.totalDaily?.FAT?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.FAT?.unit}}</td>

  </tr>

  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.FASAT?.label}}
      {{ingredients?.totalNutrients?.FASAT?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.FASAT?.unit}}
    </td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2"> {{ingredients?.totalDaily?.FASAT?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.FASAT?.unit}}</td>
  </tr>


  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>{{ingredients?.totalNutrients?.CHOLE?.label}}
      {{ingredients?.totalNutrients?.CHOLE?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.CHOLE?.unit}}
    </td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.totalDaily?.CHOLE?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.CHOLE?.unit}}</td>

  </tr>


  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>{{ingredients?.totalNutrients?.NA?.label }}
      {{ingredients?.totalNutrients?.NA?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.NA?.unit }} </td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.totalDaily?.NA?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.NA?.unit}}</td>
  </tr>

  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>{{ingredients?.totalNutrients?.CHOCDF?.label}}
      {{ingredients?.totalNutrients?.CHOCDF?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.CHOCDF?.unit}}
    </td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.totalDaily?.CHOCDF?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.CHOCDF?.unit}}</td>
  </tr>

  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.FIBTG?.label }}
      {{ingredients?.totalNutrients?.FIBTG?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.FIBTG?.unit }}
    </td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2">{{ingredients?.totalDaily?.FIBTG?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.FIBTG?.unit }}</td>
  </tr>

  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.SUGAR?.label }}
      {{ingredients?.totalNutrients?.SUGAR?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.SUGAR?.unit }}
    </td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2"></td>
  </tr>


  <tr class="sectionTr">
    <td class="sectionTd col1" colspan=2>{{ingredients?.totalNutrients?.PROCNT?.label }}
      {{ingredients?.totalNutrients?.PROCNT?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.PROCNT?.unit }}
    </td>
    <td class="sectionTd col4" colspan=2></td>
    <td class="sectionTd col4" colspan=2>{{ingredients?.totalDaily?.PROCNT?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.PROCNT?.unit }}</td>
  </tr>

  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.VITD?.label }}
      {{ingredients?.totalNutrients?.VITD?.quantity | number:'1.0-1'}} {{ingredients?.totalNutrients?.VITD?.unit }}</td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2">{{ingredients?.totalDaily?.VITD?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.VITD?.unit}}</td>
  </tr>


  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.CA?.label}} {{ingredients?.totalNutrients?.CA?.quantity
      | number:'1.0-1'}} {{ingredients?.totalNutrients?.CA?.unit}}</td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2">{{ingredients?.totalDaily?.CA?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.CA?.unit}}</td>
  </tr>


  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.FE?.label}} {{ingredients?.totalNutrients?.FE?.quantity
      | number:'1.0-1'}} {{ingredients?.totalNutrients?.FE?.unit}}</td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2"> {{ingredients?.totalDaily?.FE?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.FE?.unit}}</td>
  </tr>

  <tr>
    <td class="col1" colspan="2">{{ingredients?.totalNutrients?.K?.label }} {{ingredients?.totalNutrients?.K?.quantity |
      number:'1.0-1'}} {{ingredients?.totalNutrients?.K?.unit }}</td>
    <td class="col2" colspan="2"></td>
    <td class="col4" colspan="2">{{ingredients?.totalDaily?.K?.quantity | number:'1.0-1'}}
      {{ingredients?.totalDaily?.K?.unit}}</td>
  </tr>



</table>
