* {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext-Light', 'Avenir Next Light', 'Avenir Next', sans-serif;
  }
  
  @page {
    size: A4;
    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
    }
    @bottom-left {
      content: string(footerTitle);
    }
  }
  
  body {
    font-size: 100%;
    padding: 50px;
    background: #fff;
  }
  
  .header {
    width: 100%;
    float: left;
    font-size: 2em;
  }
  
  .printTable {
    width: 100%;
    min-width: 37em;
    border-collapse: collapse;
    font-size: 0.9em;
    font-weight: normal;
  }
  
  .printTable tr {
    height: 1em;
  }
  
  .printTable td {
    font-size: 0.8em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    box-sizing: border-box;
    border-bottom: #ccc 0.125em solid;
  }
  
  .printTable .titleTr {
    font-size: 1.4em;
  }
  
  .printTable .titleTd {
    padding-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
    border: 0px solid;
  }
  
  .printTable .subtitleTr {
    font-size: 1.1em;
    border: 0px solid;
  }
  
  .printTable .headingTr {
    font-size: 0.9em;
    font-weight: 500;
    background: #d3ebfd;
  }
  
  .printTable .headingTd {
    border-bottom: #000 0.125em solid;
    border-top: #000 0.125em solid;
  }
  
  .printTable .sectionTr {
    background: #f6f3f7;
  }
  
  .printTable .sectionTd {
    font-weight: 500;
  }
  
  .printTable .col1 {
    width: 13%;
  }
  
  .printTable .col2 {
    width: 42%;
  }
  
  .printTable .col3 {
    text-align: right;
    width: 30%;
  }
  
  .printTable .col4 {
    text-align: right;
    width: 15%;
  }
  
//   .footer {
//     string-set: footerTitle content() width: 100%;
//     float: left;
//     height: 1em;
//     padding-right: 0;
//     font-size: 0.6em;
//     padding-top: 0.4em;
//   }
  
  .right-align {display: -webkit-box; display: -webkit-flex; display: flex; justify-content: flex-end; -webkit-justify-content: flex-end; text-align:right;}