table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 3px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.warning-invalid{
  text-align: center;
  color: rgb(212, 54, 54);
}