

.sammary{
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 20px;
}

app-ingredients-list{
  width: 100%;
}

.btn-totl-nutrition{
  margin-top: 20px;
  margin-bottom: 20px;
}
