

<section>
  <div class="container sammary" >
    <div class="row" >
      <table>

        <tr>
          <th>Qty</th>
          <th>Unit</th>
          <th>Food</th>
          <th>Calories</th>
          <th>Weight</th>
        </tr>

        <tr *ngFor="let ingredient of ingredientsData" >
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>Maria Anders</td>
          <td>Germany</td>
        </tr>

      </table>

      <div class="col-md-12 text-center " >
        <br>
        <button class="btn btn-info" >total nutrition</button>
      </div>

    </div>
  </div>
</section>
